*{
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}

.bg-blue{
    background-color: rgb(0, 162, 255);
    background-image: url(../img/pattern.png);
    background-size: 350px;
    padding-top: 30px;
}

.logo{
   padding-left: 5px; 
}

.allignamento {
    padding-left: 8px;
    padding-right: 8px;
}

.titolo{
    padding-top: 20px;
}

.color-booleaner {
    color: rgb(0, 132, 255);
}

.sottotitolo {
    color: gray;
}

.data {
    font-size: 12px;
}

.immagini{
    padding-top: 15px;
    font-size: 12px;
}

.primo-paragrafo{
    padding-top: 20px;
}

.lista-non-ordinata{
    padding-top: 15px;
}

.tabella{
    padding-top: 15px;
}

.titoli-tabella{
    background-color: rgb(0, 162, 255);
}

.color-lightblue{
    background-color: rgb(157, 210, 245);
}

.secondo-paragrafo{
    padding-top: 20px;
    padding-bottom: 40px;
}